		.boxgrid{ 
				width: 532px; 
				height: 410px; 
				margin:0px 0px 0px 0px; 
				float:left; 
				overflow: hidden; 
				position: relative; 
			}
				.boxgrid img{ 
					position: absolute; 
					top: 0; 
					left: 0; 
					border: 0; 
					cursor:none;
				}
				
				.boxgird img a{
					cursor:none;
				}

				.boxgrid p{ 
					float:right;
					padding: 0 10px; 
					margin:0px 0px 0px 0px;
					color:#000000; 
					font-weight:bold; 
					font:10pt "Lucida Grande", Arial, sans-serif; 
					text-align:right;
				}
				
			.boxcaption{ 
				float: left; 
				position: absolute; 
				background: #ccc; 
				height: 21px; 
				width: 21px; 
				opacity: .8; 
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
				/* For IE 8 */
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
 			}
 				.captionfull .boxcaption {
 					top: 380;
 					left: 0;
 				}
 				.boxcaption {
 					top: 50%;
 					left: 50%;
 				}
				.sharespace {
				padding: 0px 13px;
				}
				#container { width:325px;height:487px;position:relative;}
#closebtn{position:absolute;top:157px;cursor:pointer;visibility:hidden;height:30px;width:30px;margin:0;padding:0;border:0;background:url(/images/close.png) no-repeat;}
.prdno{font-size:16px;margin-bottom:5px;*margin-bottom:3px;font-weight:bold;}
.prdname{font-size:14px;margin-bottom:5px;*margin-bottom:3px;font-weight:bold;}
.prdname1{font-size:14px;margin-bottom:0px;font-weight:bold;}
.retail{font-size:14px;margin-bottom:0px;color:#ff0000;}