@charset "utf-8";
/* CSS Document */
#innerWrapper.homePage{width:100%;}* html body{text-align:center;}* html #wrapper,* html #containerDiv{text-align:left;}#wrapper{width:100%;background-color:#FFF;}.ie6 #wrapper{width:100%;background-color:#FFF;}#innerWrapper{width:990px;overflow:hidden;margin:0 auto;border:none;background-color:#FFF;} .ie6 #innerWrapper{width:990px;overflow:hidden;margin:0 auto;border:none;background-color:#FFF; height:auto;}#containerDiv{border:1px solid #444;}#topWrapper{width:100%;}
.securityLogoWrapper{margin:15px 15px 15px 15px;}.cartItem{clear:both;height:90px;}#cartDottedMargin{margin-bottom:10px;padding:0;background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/Bebe/en_US/inca/common/hr-dotted.gif);height:1px;background-repeat:repeat-x;}.cartItem .itemImage img:hover,.cartItem .itemImage img.hover{border:1px solid #000;}.cartItem .itemImage img{border:1px solid #CCC;}.itemImage{float:left;}.itemTitle{float:left;font-size:.8em;padding-left:25px;text-align:left;word-wrap:break-word;width:177px;}.sku{position:relative;top:-15px;}.itemSize{float:left;font-size:.8em;text-align:left;width:119px;word-wrap:break-word;}.itemColor{float:left;font-size:.8em;text-align:left;width:160px;word-wrap:break-word;}.itemQuantity{float:left;font-size:.8em;width:176px;text-align:left;}.itemPrice{float:right;font-size:.8em;width:100px;text-align:right;}.cartItemButtons{padding-left:550px;}.quantityBox{text-align:center;}.cartItem a{font-weight:bold;}.cartItem img{width:55px;}.itemDelete{float:left;}.updateLinkRow{float:right;position:relative;left:-370px;top:30px;}*html #center-5 .shopWithConfidenceWrapper,*html #center-5 .shopWithConfidenceWrapper{margin:0 0 0 10px;padding:18px 0 0 0;}*html #center-5 .shopWithConfidenceWrapper .shopWithConfidenceHighlights,*html #center-5 .shopWithConfidenceWrapper .shopWithConfidenceHighlights{margin:0;padding:0;}*html #dropDownRedirect{margin:0;padding:0;clear:both;}#center{float:left;width:620px;} .ie6 #center{float:left;width:620px;}#right{float:right;width:340px;}.ie6 #right{float:right;width:320px;}#right #right-1,#right #right-1{border-left:1px solid #CCC;}.shopWithConfidenceWrapper,.shopWithConfidenceWrapper{text-align:left;margin:0 0 0 20px;width:600px;padding:18px 0 0;}.shopWithConfidenceWrapper .shopWithConfidence,.shopWithConfidenceWrapper .shopWithConfidence{padding:0;float:left;}.shopWithConfidenceWrapper .shopWithConfidenceHighlights,.shopWithConfidenceWrapper .shopWithConfidenceHighlights{padding:0;float:right;margin-right:20px;cursor:pointer;}.shopWithConfidenceWrapper .shopWithConfidenceHighlights .shopWithConfidenceHighlight,.shopWithConfidenceWrapper .shopWithConfidenceHighlights .shopWithConfidenceHighlight{padding:0;}.shopWithConfidenceWrapper .shopWithConfidenceHighlights .shopWithConfidenceOrderByPhone,.shopWithConfidenceWrapper .shopWithConfidenceHighlights .shopWithConfidenceOrderByPhone{padding:0;}.recentlyAddedItems,.recentlyAddedItems{margin:0;padding:13px 8px 0 10px;width:300px;}.ie6 .recentlyAddedItems,.recentlyAddedItems{margin:0;padding:13px 8px 0 10px; width:320px;}.recentlyAddedItems .recentHeader,.recentlyAddedItems .recentHeader{padding:0;}.recentlyAddedItems .recentHeader input,.recentlyAddedItems .recentHeader input{float:right;}*html .recentlyAddedItems .recentTitle{margin:0px 0 0;}.recentlyAddedItems .recentTitle{padding:0;float:left;margin:0px 0 10px;padding:0;font-size:11pt;text-transform:uppercase;}.recentlyAddedItems .cartItems,.recentlyAddedItems .cartItems{padding:0;}.recentlyAddedItems .cartItems .cartItem,.recentlyAddedItems .cartItems .cartItem{padding:0;}.recentlyAddedItems .cartItems .cartItem .itemImage,.recentlyAddedItems .cartItems .cartItem .itemImage{padding:0;margin:0 4px 10px 0;}.recentlyAddedItems .cartItems .cartItem .itemTitle,.recentlyAddedItems .cartItems .cartItem .itemTitle{padding:0;line-height:1.4em;font-size:8pt;}.recentlyAddedItems .cartItems .cartItem .itemPrice{padding:0;float:right;width:50px;line-height:1.4em;font-size:8pt;}.recentlyAddedItems .cartItems .cartItem .saleItemPrice{font-size:8pt;color:#800024;}.recentlyAddedItems .cartItems .cartItem .itemColor,.recentlyAddedItems .cartItems .cartItem .itemSize,.recentlyAddedItems .cartItems .cartItem .itemQuantity{line-height:1.5em;font-size:8pt;}.recentlyAddedItems .cartItems .cartItem .itemColor{padding:0;}.recentlyAddedItems .cartItems .cartItem .itemSize{padding:0;}.recentlyAddedItems .cartItems .cartItem .itemQuantity{padding:0;}.recentlyAddedItems .cartPromo{padding:13px 0 10px;border-top:1px solid #CCC;margin-top:10px;text-align:right;}.recentlyAddedItems .cartPromo .cartTotal{padding:0;margin:0;}.recentlyAddedItems .cartPromo .cartTotal span{padding:0;color:red;font-weight:bold;color:#800024;}.recentlyAddedItems .cartButtons{padding:0;text-align:right;}.cartErrors{margin-bottom:25px;padding:35px 5px 15px 5px;top:10px;position:relative;}.cartErrors .error1{padding-top:10px;}.importantMsg{display:none;}
.upsellItems{text-align:left;padding:14px 0;border-bottom:1px solid #ccc;line-height:1;clear:left;margin-left:2px;margin-right:1px; width:640px; height:208px;} .ie6 .upsellItems{text-align:left;padding:14px 0;border-bottom:1px solid #ccc;line-height:1;clear:left;margin-left:2px;margin-right:1px; width:645px;height:240px;}.upsellItems a{text-decoration:none;color:black!important;}#pageId100 .upsellItems h2,#pageId101 .upsellItems h2{text-transform:uppercase;text-align:left;font-size:14px;letter-spacing:.045em;margin:0;padding:0 0 14px 0;}.upsellItems .item{float:left;width:122px;max-width:122px;padding-right:2px;font-size:9px;}.upsellItems .item a:hover img{border:1px solid #000;}.upsellItems .item a:hover span{text-decoration:underline;}#pageId100 .upsellItems .item,#pageId101 .upsellItems .item,#pageId101 .upsellItems .recentHistory .item{float:left;max-width:122px;width:122px;padding-right:6px;font-size:9px;}.upsellItems .last{padding-right:0;}.upsellItems .last:after{clear:both;}.upsellItems .item .imageLink{display:block;}.upsellItems .item img{border:1px solid #CCC;width:121px;height:210px;}.upsellItems .item .imageLink .title{font-weight:bold;font-size:8pt;font-family:verdana;padding:4px 3px 1px;display:block;line-height:10pt;}*html .upsellItems .item .imageLink .title{padding-top:3px;}*:first-child+html .upsellItems .item .imageLink .title{padding-top:3px;}.upsellItems .item .salePrice{font-size:8pt;top:11px;padding-left:3px;}.upsellItems .item .origPrice{font-size:7pt;top:-17px;padding-left:3px;}.upsellItems .item .ourPrice,.upsellItems .item .listPrice{font-size:8pt;padding-left:3px;}#dropDownRedirect{padding:0;}.upsellItems .recentHistory .first{padding-left:0;padding-bottom:0;}.upsellItems .recentHistory h2{border-bottom:0 none;}.upsellItems .recentHistory .origPrice .price,.upsellItems .recentHistory .ourPrice .price{margin:0;font-weight:normal;}#center-4 .upsellItems{border-bottom:0 none;}.dynamicMenu11{font:14px verdana,arial,helvetica,sans-serif;padding:10px 2px 10px 0px;border-bottom:1px solid #CCC;text-align:right;}.dynamicMenu11 label{font-weight:bold;text-transform:uppercase;}#topSlots::after,#left::after,#center::after,#right::after,.recentlyAddedItems::after,.cartTotal::after,.upsellItems::after{clear:both;content:".";display:block;height:0;visibility:hidden;}* html .upsellItems{height:1%;}#right-2{border-left:1px solid #CCC;border-bottom:1px solid #CCC;}#shippingCalculator{padding:0 38px 0 17px;text-align:right;}.ie6 #shippingCalculator{padding:0 0px 0 10px;text-align:right; width:320px}#right-1,#right-2{height:1%;}#right-2 .shippingMsg{font-size:.8em;}#right-2 .cartButtons{padding:10px 0 5px 0;border-top:1px solid #CCC; width:310px;}.ie6 #right-2 .cartButtons{border-top:1px solid #CCC; width:295px; float:right;}#right-2 .messageBox{background:url(../images/error.png) no-repeat 10px 6px;border:1px solid #840024;padding:5px 8px 6px 46px;font-size:.8em;color:#840024;margin:5px 0;text-align:left;line-height:1.3em;}.taxAmount,.shippingAmount{font-size:.8em;}dl.attributeList{clear:both;margin-top:0;}dl.attributeList::after{clear:both;content:".";display:block;height:0;visibility:hidden;}dl.attributeList dt{float:left;font-size:.8em;width:233px;clear:left;}dl.attributeList dd{float:left;margin:0;width:80px;}.orderSubtotal{color:#800024;font-size:1.0em;font-weight:bold;}dl.attributeList a{cursor:pointer;text-decoration:underline;}.cartPromo .subtotalLabel{float:left;width:252px;}.ie6 .cartPromo .subtotalLabel{float:left;width:256px;}.cartPromo .cartSubtotal{float:left;width:66px;}#shippingCalculator p{color:#999;font-size:.7em;line-height:1.2em;text-align:right;}*+html #shippingCalculator p{padding-top:5px;}#shippingCalculator hr{height:1px;color:#CCC;}#shippingCalculator div.hr{border-top:1px solid #CCC;height:1px;}#estSubmitButton{position:relative;top:4px;}.formOuterdiv{padding:10px 0 11px 0;}*+html #intlCheckoutWrapper{padding:5px 0 0 0;}

#addressBook1 h3{background-color:#E1E1E1;width:95%;font-size:.8em;font-weight:bold;padding-left:5px;text-transform:uppercase;}#center-5 .unified_widget{background-color:#E1E1E1;width:95%;margin-bottom:20px;margin-top:20px;color:#000;}#center-5 h3{padding:0;margin:0;font-size:.8em;padding-left:5px;display:inline;padding-top:10px;padding-right:375px;color:#000;}#center-5 .smallerHeader{font-size:.9em;font-weight:normal;color:#000;}#center-5.headertext1{font-size:.8em;font-weight:normal;color:#000; text-align:left}


/* CSS Document */
.botton-link { margin:8 6; font-family:Verdana, Arial, Helvetica, sans-serif font-size:11px; font-weight:normal; font-style:normal; text-decoration:none; color:#000000;}
.link { margin:2 20; font-family:Verdana, Arial, Helvetica, sans-serif font-size:11px; font-weight:normal; font-style:normal; text-decoration:none; color:#000000;}
.link:hover { margin:2 20; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; font-style:normal; text-decoration:none; color:#000000;}
.link a{ font-family:Verdana, Arial, Helvetica, sans-serif font-size:11px; font-weight:normal; font-style:normal; text-decoration:none; color:#000000;}
.link a:hover{ font-family:Verdana, Arial, Helvetica, sans-serif font-size:11px; font-weight:normal; font-style:normal; text-decoration:underline; color:#000000;}

.textfield
{
	background-COLOR: #C1C091;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
	COLOR: #817744;
	height: 17px;
	width: 150px;
	BORDER-RIGHT: #626161 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #C1C091 1px solid;
    PADDING-LEFT: 4px;
    BORDER-LEFT: #C1C091 1px solid;
   
	BORDER-BOTTOM: #626161 1px solid;
}
.textfield2
{
		background-COLOR: #605F5D;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	height: 30px;
	width: 150px;
	BORDER-RIGHT: #626161 1px solid;
   PADDING-RIGHT: 4px;
    BORDER-TOP: #626161 1px solid;
   PADDING-RIGHT: 4px;
    BORDER-LEFT: #626161 1px solid;
    PADDING-TOP: 0px;
	BORDER-BOTTOM: #626161 1px solid;
}


/* old */
/* Page set up styles */

body {margin-top: 2px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
form{margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px;}
.tablepx{width: 735px; margin-left: auto; margin-right: auto; background-color: #000000;}

/* Top Page styles */

.top_ver {background-image: url(../images/top_ver.gif); background-repeat: repeat-y;}
.top_link{ color: #A36177; font-family: Arial; 	font-size: 0.70em; 	font-weight:600; text-decoration:none;	letter-spacing: 1px; font-variant:small-caps;}
.top_link:hover {color: #A90C40;}


/* Left Page styles */

.left_topbg{background-color:#999999; font-weight: 600; text-decoration: none; font-family: Arial; font-size: 0.75em; 	color:#FCFCFC;}
.left_head{	font-weight:bolder; 	text-decoration: none; font-family: Arial; font-size: 0.80em; color:#6F1111;}
.left_links{	font-weight:lighter; text-decoration: none; font-family: Arial; font-size: 0.75em; color:#09262D;}
.left_links:hover {color:#6F1111;}

/* styles  for images*/

.img_bor{border: 1px solid #FFFFFF;}
.top_img_pop {background-image: url(../images/pop-up_top.jpg); background-repeat:no-repeat;}

/* styles  for left panel*/

.right_link{ color: #CC0C0C; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.70em; font-weight:600; text-decoration:none; letter-spacing: 1px; font-variant:small-caps;}
.right_link:hover {color: #A90C40;}


/* styles for footer*/

.footer_links {	margin:8 6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none; word-spacing: 1px; padding-left: 5px; }
.footer_links:hover { text-decoration: none;}

/* styles for input types*/

.input {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #6F6F6F; border:1px #6F6F6F solid; padding-left:3px;}
.combobig{ border: 1px solid #000000; font-family:Verdana, Arial, Helvetica, sans-serif; color:6F6F6F;font-size: 11px; }


/* stles for bgcolors*/

.maintopbg{background-color: #333333;}


/* styles for text*/
.footer_text {font-family: Arial; font-size: 0.70em; color: #000000; text-decoration: none; word-spacing: 1px; padding-left: 5px; }
.incat {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #9D341C; font-weight:bold; }
.home-text {font-family:Verdana, Arial, Helvetica, sans-serif; font-style:normal; font-size: 12px; color: #0000CC; font-weight:normal; padding-left: 5px;}
.catheader {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #6F6F6F; font-weight:normal; padding-left: 5px; background-color: #FFFFFF;text-transform: uppercase; text-decoration: none;}
.catheader2 {font-family:"Courier New", Courier, monospace; font-style:italic; font-size: 20px; color: #6F6F6F; font-weight:normal; padding-left: 5px; background-color: #FFFFFF;text-transform: uppercase; text-decoration: none;}
.btext {font-weight: 600; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.75em; color:#000000;}
.whitetext {font-weight: 600; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color:#6F6F6F;}
.whitetext_new {font-weight: 600; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color:#FFFFFF;}
.whitetext2 {font-weight: 600; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color:#0000CC;}
.whitetext3 {font-weight: 600; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color:#643265;}
.blinktext {font-weight: 600; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color:#0000FF;}
.blinktext:hover {text-decoration:underline;}
.blacktext {font-weight: normal; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;  color:#6F6F6F;}
.blacktext1 {font-weight: normal; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px;  color:#6F6F6F;}
.alinks{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#6F6F6F; text-decoration:none}
.alinks:hover {text-decoration:underline; color:0000FF;}
.maintext{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#6F6F6F; text-decoration:none}
.maintext2{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none}

.maintextw{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#6F6F6F; text-decoration:none;}
.maintextw_red{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#643265; text-decoration:none}

.maintext-div{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#6F6F6F; text-decoration:none}
.frms {font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight: normal; color: #6F6F6F; text-decoration: none; word-spacing: 1px;padding-left: 5px;}
/*.errorfont { font-family: Arial; font-size: 12px; font-weight: bold; color: #00FF66; text-decoration: none; word-spacing: 1px; }*/
.errorfont { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #0000FF; text-decoration: none; word-spacing: 1px; }
.errorfontred {	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FF0000; text-decoration: none; word-spacing: 1px; }
.pagelinks{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:0.75em; color:#643265; text-decoration:none; font-weight: normal;}
.pagelinks2{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#643265; text-decoration:none; font-weight: normal;}
.pagelinks:hover {text-decoration:underline;}
.seprators{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:0.75em; color:#C5C5C5; text-decoration:none; font-weight: normal;}
.horiline{background-image: url(../images/horiline.gif); background-repeat: repeat-y; background-color:#000000;}
.errorfontred2{	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #FF0000; text-decoration: none; word-spacing: 1px; }

.category_text{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000;}
/* ------------------------------------------------------- Category Link*/
a.cat_link:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #000000;
}
a.cat_link:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color:#000000;
}
a.cat_link:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #000000; 
}
a.cat_link:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #FFFFFF;
}
/*----------------------------------*/
a.cat_link_big:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #000000;	
}
a.cat_link_big:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color:#000000;	
}
a.cat_link_big:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #000000; 	
}
a.cat_link_big:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;	
}

/*----------------------------------------*/
a.cat_link_white:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}
a.cat_link_white:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color:#FFFFFF;
}
a.cat_link_white:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF; 
}
a.cat_link_white:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}

/*------------------------------------------------------------*/

/*------------------------------------------------------------ Sub Category Link */
a.sub_cat_link:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #000000;
}
a.sub_cat_link:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color:#000000;
}
a.sub_cat_link:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #000000; 
}
a.sub_cat_link:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #FFFFFF;
}

a.sub_cat_link2:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
}
a.sub_cat_link2:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color:#000000;
}
a.sub_cat_link2:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #000000; 
}
a.sub_cat_link2:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
}


a.sub_cat_link_white:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #FFFFFF;
}
a.sub_cat_link_white:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color:#FFFFFF;
}
a.sub_cat_link_white:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #FFFFFF; 
}
a.sub_cat_link_white:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #FFFFFF;
}




a.sub_cat_link_white2:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
}
a.sub_cat_link_white2:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color:#FFFFFF;
}
a.sub_cat_link_white2:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF; 
}
a.sub_cat_link_white2:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
}
/*---------------------------------------------------------------*/

/**************************************************** For Header*/
a.head_link:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
}
a.head_link:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color:#000000;
}
a.head_link:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #000000; 
}
a.head_link:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
}

a.head_link_white:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
}
a.head_link_white:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color:#FFFFFF;
}
a.head_link_white:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF; 
}
a.head_link_white:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
}
/*----------------------------------------------------- End For Header*/

a.menu_link:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #525B5A;
}
a.menu_link:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color:#525B5A;
}
a.menu_link:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #525B5A; 
}
a.menu_link:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
}



a.menu_linkB:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #525B5A;
}
a.menu_linkB:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color:#525B5A;
}
a.menu_linkB:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #525B5A; 
}
a.menu_linkB:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}




a.menu_link_white:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
}
a.menu_link_white:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color:#FFFFFF;
}
a.menu_link_white:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF; 
}
a.menu_link_white:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
}

/* new css for new style */
a.menu_link_map:link {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#494949;font-weight:normal;text-align:left; text-decoration:underline;}
a.menu_link_map:active {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#494949;font-weight:normal;text-align:left; text-decoration:underline;}
a.menu_link_map:visited {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#494949;font-weight:normal;text-align:left; text-decoration:underline;}
a.menu_link_map:hover {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#494949;font-weight:normal;text-align:left; text-decoration:none;}

a.menu_link_new1:link {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#B2B2B2;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_new1:active {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#B2B2B2;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_new1:visited {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#B2B2B2;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_new1:hover {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#643265;font-weight:normal;text-align:left; text-decoration:none;}

a.menu_link_new:link {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#B2B2B2;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_new:active {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#B2B2B2;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_new:visited {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#B2B2B2;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_new:hover {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#B2B2B2;font-weight:normal;text-align:left; text-decoration:none;}

a.menu_link_new_red:link {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#FF0000;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_new_red:active {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#FF0000;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_new_red:visited {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#FF0000;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_new_red:hover {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#B2B2B2;font-weight:normal;text-align:left; text-decoration:none;}

a.menu_link_white_new:link {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#643265;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_white_new:active {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#643265;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_white_new:visited {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#643265;font-weight:normal;text-align:left; text-decoration:none;}
a.menu_link_white_new:hover {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#643265;font-weight:normal;text-align:left; text-decoration:none;}

.category_text_new{font-family:"Times New Roman", Times, serif; font-size:14px; font-weight:bold; color:#0000CC;}

a.sub_cat_link_white2_new:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #0000CC;
}
a.sub_cat_link_white2_new:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color:#0000CC;
}
a.sub_cat_link_white2_new:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #0000CC; 
}
a.sub_cat_link_white2_new:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #0000CC;
}

a.sub_cat_link2_new:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #0000CC;
}
a.sub_cat_link2_new:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color:#0000CC;
}
a.sub_cat_link2_new:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #0000CC; 
}
a.sub_cat_link2_new:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #643265;
}

a.cat_link_white_new:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #0000CC;
}
a.cat_link_white_new:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color:#0000CC;
}
a.cat_link_white_new:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #0000CC; 
}
a.cat_link_white_new:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}

a.cat_link_big_new:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #0000CC;	
}
a.cat_link_big_new:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color:#0000CC;	
}
a.cat_link_big_new:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #0000CC; 	
}
a.cat_link_big_new:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #643265;	
}

a.cat_link_white_new_2:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #0000CC;
}
a.cat_link_white_new_2:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color:#0000CC;
}
a.cat_link_white_new_2:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #0000CC; 
}
a.cat_link_white_new_2:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #494949;
}


a.cat_link_big_new_2:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #494949;	
}
a.cat_link_big_new_2:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color:#494949;	
}
a.cat_link_big_new_2:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #494949; 	
}
a.cat_link_big_new_2:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #0000CC;	
}

a.sub_cat_link_white2:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #0000CC;
}
a.sub_cat_link_white2:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color:#0000CC;
}
a.sub_cat_link_white2:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #0000CC; 
}
a.sub_cat_link_white2:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #494949;
}


a.sub_cat_link_white:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #0000FF;
}
a.sub_cat_link_white:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color:#0000FF;
}
a.sub_cat_link_white:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #0000FF; 
}
a.sub_cat_link_white:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #494949;
}

a.sub_cat_link:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #494949;
}
a.sub_cat_link:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color:#494949;
}
a.sub_cat_link:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #494949; 
}
a.sub_cat_link:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #0000CC;
}

a.sub_cat_link2:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #494949;
}
a.sub_cat_link2:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color:#494949;
}
a.sub_cat_link2:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #494949; 
}
a.sub_cat_link2:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	color: #0000CC;
}
.signIn{
	 font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; color:B2B2B2; font-weight:normal;
}

.div-scroll{				
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:12px;
			font-weight:normla;
			color:#6F6F6F;				
			text-align:justify;
			line-height:14px;
			text-decoration:none;
			overflow: auto;
			padding: 5px;
			scrollbar-face-color: #643265;
			scrollbar-highlight-color: #643265;
			scrollbar-3dlight-color: #643265;
			scrollbar-darkshadow-color:#643265;
			scrollbar-shadow-color: #643265;
			scrollbar-arrow-color: #FFFFFF;
			scrollbar-track-color: #FFFFFF;
			width: 595px;
			height: 400px; 
}

.buttion{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; width:60px; height:10;}